# Python
pycache/
*.py[cod]
*.pyo

# Django
db.sqlite3
/media/
staticfiles/
*.sqlite3

# Env / secrets
.env
*.env

# Node (if present)
node_modules/
dist/
dist-ssr/
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store





